include ../../common-components/head/head.jade

doctype html
html
	+head( 'No Tech Zone' )
	link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300|Roboto:400,700', rel='stylesheet', type='text/css')
	body
	.ntz-wrapper
		//- .ntz-bgStripe
		.ntz-main
			img.ntz-logo( src="images/ntz-logo.png" alt="logo" )
			.bottomShadow
			.actions 
				a( class="play" ) Watch Film
				a.about(href='http://www.cashstudios.co/', target='_blank') About Artist
				script(src='https://gumroad.com/js/gumroad.js')
				a.gumroad-btn(href='https://gum.co/wvIy', target='_blank') Purchase Limited Sign
			.video-wrapper
				.video-container
					iframe( id="video" class="video" src='http://player.vimeo.com/video/6284199?api=1', frameborder='0')
			.push 
				h1 Buy limited edition prints
				p Limited edition series of one hundred 18”x24” metal sign prints, signed by the artist. (We do not condone illegal installation of these signs.)
				script(src='https://gumroad.com/js/gumroad.js')
				a( href='https://gum.co/wvIy', target='_blank' )
					p.label Purchase Limited Print
					img( src="images/sign.jpg" alt="sign" )
			a( class="logo" href="http://www.cashstudios.co/" target="_blank" )
				img( src="images/cashIcon.png" alt="Ivan Cash Studio")
			
			

