include ../../common-components/head/head.jade

doctype html
html
	+head( 'No Tech Zone' )
	link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300|Roboto:400,700', rel='stylesheet', type='text/css')
	body
	.ntz-wrapper
		//- .ntz-bgStripe
		.ntz-main
			h1
				span NO
				span TECH-ZONE
			.actions 
				img.play( src="images/play.svg" alt="buy" )
				img.about( src="images/about.svg" alt="buy" )
				img.buy( src="images/buy.svg" alt="buy" )
		.logo 
			a( href="http://www.ivancash.com" target="_blank" )
				img( src="images/cashIcon.png" alt="Ivan Cash Studio")

