// Home

body,
html,
.ntz-wrapper
{
	@extend %flex-center-all;

	width: 100%;
	height: 100%;

	background: url(images/ntz-bg.jpg)no-repeat center center fixed;
	background-size: cover;
	position: relative;
}

.ntz-bgStripe
{
	height: 100%;
	width: 40%;
	background-color: white;
	margin: auto;
	position: absolute;
	top: 0; left: 50%;
	transform: translate(-50%,0);
	opacity: .5;
}

.ntz-main 
{
	height: 100%; width: 100%;
	background-color: rgba(255,255,255,1);

	box-shadow: 5px 15px 75px rgba(0,0,0,.05);

	align-items: center;

	background-color: transparent;

	background: url(images/ntz-bg-dark-blur.jpg)no-repeat center center fixed;
	background-size: cover;

	overflow-y: scroll;

	border-bottom: 5px solid white;

	.bottomShadow
	{
		height: 30px;
		width: 100%;
		position: fixed;
		bottom: 0px; left: 0px;
		background-color: black;
		z-index: 50;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+0,0.15+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=0 ); /* IE6-9 */
	}
	.ntz-logo 
	{
		max-width: 550px;
		margin-top: 25px;
	}
	.video {
		margin-top: 50px;
	}
	h1 
	{
		font-size: 60px;
		color: white;
		display: inline;
		line-height: inherit;
		span {
			display: inline;
		}
		span:first-of-type 
		{
			background-color: $red;
			display: inline;
			padding: 25px 30px 20px 30px;
			color: white;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		span:last-of-type 
		{
			background-color: white;
			display: inline;
			padding: 25px 33px 20px 30px;
			color: $red;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
	.actions 
	{
		flex-flow: row;
		a 
		{
			margin-right: 25px;
			color: white;
			text-decoration: none;
			text-transform: uppercase;
		}
		a:last-of-type
		{
			margin-right: 0px;
		}
		img {
			width: 50px;
			height: 50px;
			display: inline-block;
			margin-right: 15px;
			border-radius: 50%;
			border: 2px solid rgba(255,255,255,.4);
			cursor: pointer; cursor: hand;
			transition: all 275ms ease-out;
			opacity: .6;
			transform: translate(0,0px) scale(.85);
			opacity: 0;
			-webkit-backface-visibility: hidden;
		}
	}
	button {
		background: none;
		border: 1px solid white;
		outline: 0;
		margin-top: 25px;
		width: auto;
		margin-right: 15px;
		cursor: hand; cursor: pointer;
		color: white;
		padding: 15px;
	}
	button:last-of-type
	{
		margin-right: 0px;
	}
	button:hover {
		background: white;
		color: $red;
	}
	.moar {
		margin-top: 100%;
	}
}

.active.ntz-wrapper
{
	.logo
	{
		transform: translate(0px,0px) scale(.95);
		opacity: .6;
		transition: all 250ms ease-out;
		margin-bottom: 25px;
		position: fixed;
		top: 25px; left: 25px;
		img 
		{
			margin-bottom: 0px;
		}
	}
	.logo:hover 
	{
		opacity: 1;
		transform: translate(0px,0px) scale(1);
	}
}

.product {
	margin: 50px auto;
	width: 100%;
	max-width: 500px;
}