include ../../common-components/head/head.jade

doctype html
html
	+head( 'No Tech Zone' )
	link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300|Roboto:400,700', rel='stylesheet', type='text/css')
	body
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-1244930-25', 'auto');
		ga('send', 'pageview');
	script(src='https://gumroad.com/js/gumroad.js')
	.ntz-wrapper
		.one
			.bottomShadow
			a( href="#sup" )
				img.ntz-logo( src="images/ntz-logo.png" alt="logo" )
			.actions 
				a( class="play" ) Watch Film
				a( class="buy" ) Limited Edition Signs
				a.about(href='http://www.cashstudios.co/', target='_blank') Artist info
			.video-wrapper
				.video-container
					iframe( id="video" class="video" src='http://player.vimeo.com/video/141369561?api=1', frameborder='0')
		.two
			.push 
				h1 Buy limited edition Signs
				p Limited edition series of one hundred 18&#8221;x24&#8221; metal signs, signed by the artist. (We do not condone illegal installation of these signs).
				a( href='https://gum.co/notechzone', target='_blank' )
					p.label Purchase
				.slick
					a( href='https://gum.co/notechzone', target='_blank' )
						img( src="images/img1.jpg" alt="sign1" )
					a( href='https://gum.co/notechzone', target='_blank' )
						img( src="images/img2.jpg" alt="sign2" )
					a( href='https://gum.co/notechzone', target='_blank' )
						img( src="images/img3.jpg" alt="sign3" )
				.arrows
			a( class="logo" href="http://www.cashstudios.co/" target="_blank" )
				img( src="images/cashIcon.png" alt="Ivan Cash Studio")
			p.siteby  Development -  
				a( href="http://www.laithazzam.com" target="_blank" )
					| Laith Azzam
			
			

